<!DOCTYPE html>
<html>
    <head>
        <title> Test template controls</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="inv-view-builder.js"></script>
    </head>
    <body>
        <div id="mainContent">
        </div>
        <div id="status">
        </div> 
        
        <script type="text/template" id="template">
          <div datasource="$scope">
            something here {{Property1}}
            <div>
                antother thing
                with something
                <div>
                    yet another thing
                </div>
            </div>
          </div>
  
        </script>
        
        <script type="text/javascript">
           $('#mainContent').html('this is a message');
            $(document).ready(function () {
                'use strict';
                var templateBuilder = new inv.TemplateBuilder();
                //$('#status').append($('#template').html());
                console.log('starting');
    
                templateBuilder.parseDom($('#template').html());
  
            });

            var json = {
                "Property1": "value1",
                "Property2": "value2"
            };
        </script>
    </body>
</html>