<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="jasmine.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="jasmine.js"></script>
        <script src="jasmine-html.js"></script>
        <script src="../inv-view-builder.js"></script>
    </head>
    <body>
        <div id="mainContent">
        </div>
        <textarea rows="10" cols="100"></textarea>
        <script type="text/template" id="templateSection">
            <div id="element01">
                {{propertysource}}
            </div>    
        </script>
        <script src="template-builder-tests.js"></script>
        <script type="text/javascript">
            (function() {
                var jasmineEnv = jasmine.getEnv();
                jasmineEnv.updateInterval = 250;
                var htmlReporter = new jasmine.HtmlReporter();
                jasmineEnv.addReporter(htmlReporter);
                jasmineEnv.specFilter = function(spec) {
                    return htmlReporter.specFilter(spec);
                };
                jasmineEnv.execute();
            })();
        </script>
    </body>
</html>